body { background: #892f75; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 54px; display: flex; }
.block-metrics-0 { color: #46166; font-size: 19px; margin-bottom: 5px; }
.block-search-1 { color: #bb2814; font-size: 20px; margin-bottom: 5px; }
.block-uploader-2 { color: #639e9a; font-size: 19px; margin-bottom: 5px; }
.block-token-3 { color: #2159ef; font-size: 18px; margin-bottom: 5px; }
.block-database-4 { color: #ba0ab8; font-size: 13px; margin-bottom: 5px; }
.block-invoice-5 { color: #f152be; font-size: 16px; margin-bottom: 5px; }
.block-auth-6 { color: #6f9da5; font-size: 15px; margin-bottom: 5px; }
.block-filter-7 { color: #9d52e3; font-size: 20px; margin-bottom: 5px; }
.block-shipping-8 { color: #2c6903; font-size: 20px; margin-bottom: 5px; }
.block-invoice-9 { color: #d82d29; font-size: 20px; margin-bottom: 5px; }